:root {
  --primary-color-text: #212121;
  --secondary-color-text: #757575;

  --color-primary: #2c3e50;
  --color-secondary: #8e44ad;
  --color-accent: #e67e22;
  --color-text: #333;
  --color-background: rgb(250, 243, 243);
  --color-error: #d32f2f;
  --color-success: #388e3c;
}