.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content {
  background-color: #fff;
  padding: 5px ;
  border-radius: 12px;
  max-width: 90%;
  position: relative;
}

.closeBtn {
    position: absolute;
  /* width: fit-content;
  height: auto; */
  background:white ;
  color: var(--color-accent);
  font-weight: 700;
  top: 8px;
  right: 8px;
  /* background: transparent; */
  border: 3px solid var(--color-accent);
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
