.fast,
.strictFast {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* ---------- кнопка ---------- */

.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* border-radius: 999px; */

  padding: 4px 18px;

  /* background: #fafafa; */

  /* border: 1px solid orange; */

  /* transition: background 0.2s; */

  padding: 4px 14px;

  background: linear-gradient(#faf7f2, #e8dfd1);

  border-radius: 4px;
}

.button:hover {
  background: #f0f0f0;
}

/* ---------- popup ---------- */

.popup {
  position: absolute;

  /* top: calc(100% + 6px);
  left: 0; */

    bottom: calc(100% + 8px);
  left: 0;

  z-index: 100;

  width: max-content;
  min-width: 230px;

  padding: 10px 14px;

  border-radius: 5px;

  background: white;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

.strictFast .popup {
  border-left: 12px double rgb(255, 165, 0, 0.5);
}

.fast .popup {
  border-left: 3px solid rgb(255, 165, 0, 0.5);
}

/* ---------- заголовок ---------- */

.popupTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

/* ---------- кнопка ---------- */

.icons {
  display: flex;
  gap: 6px;
}

/* ---------- popup ---------- */

.iconList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.iconRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
}

.iconSvg {
  width: 20px;
  height: 20px;

  flex-shrink: 0;
}

@media (max-width: 768px) {
  .popup {
    right: 0;
    left: auto;
    z-index: 100;

    min-width: fit-content;
  }
}

@media (max-width: 600px) {
  .popup {
    right: 0;
    left: auto;
    z-index: 100;

    min-width: fit-content;
  }
}

.fast,
.strictFast {
  width: fit-content;
}

.popupTitle {
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

/* ------------------------- */
.icon {
  font-size: 20px;
}

.iconRow {
  font-size: 20px;
}

.icon svg {
  width: 1em;
  height: 1em;
}

.iconRow svg {
  width: 1em;
  height: 1em;
}
/* ПК */
.icon,
.iconRow {
  font-size: 28px;
}

/* планшет */
@media (max-width: 992px) {
  .icon,
  .iconRow {
    font-size: 22px;
  }
}

/* телефон */
@media (max-width: 600px) {
  .icon,
  .iconRow {
    font-size: 20x;
  }
}
