.addContainer {
  padding-top: 50px;
}

.advertisement {
  font-size: 1.25rem;
  margin: 20px auto;
  padding: 5px;
  max-width: 800px;
  /* background-color: var(--color-accent); */
  color: black; /* темно-жовтий текст */
  border: 1px solid var(--color-accent); /* світло-жовта рамка */
  border-radius: 5px;
  text-align: center;
}
