.article {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.7;
  font-size: 1.05rem;
}
.nestedArticle {
  margin-bottom: 1rem;
  /* border-left: 3px solid rgb(255, 255, 167); */
  border-radius: 5px;
  padding: 0 1rem 0.5rem 1rem;
  background-color: rgb(255, 254, 254);
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}

.mainHeader {
  text-align: center;
  margin-bottom: 1rem;
  color: #e67e22;
}

.quoteToHeader{
  color:#e67e22;
}

/* FLOAT IMAGE */
.mediaFloat {
  float: none;
  margin: 0 0 1rem 0;
}

.mediaFloat img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* FLOAT VIDEO */
.videoFloat {
  float: none;
  margin: 1.5rem 0;
}

.videoFloat iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  border: none;
}

/* TABLET + */
@media (min-width: 768px) {
  .mediaFloat {
    float: left;
    margin: 0 1.5rem 1rem 0;
    max-width: 360px;
  }

  .videoFloat {
    float: right;
      width: 50%;       /* ← 30–50% */
    max-width: none;  /* важливо */
    margin: 0 0 0 0.5rem;
  }
}

/* CLEAR FLOATS */
.article::after {
  content: "";
  display: block;
  clear: both;
}

.caption {
  font-size: 0.8rem;
  color: #666;
  text-align: center;
  margin-top: 0.5rem;
}

.quote {
  font-style: italic;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  /* border-left: 4px solid #e67e22; */
  border-radius: 5px;
}