.section {
  padding: 65px 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--text-color, #222);
}

.tabs {
  display: flex;
  /* justify-content: space-between; */
 
  margin: 0 auto 1.5rem;
 
  width: 100%;
}

.tabButton {
  flex: 1; 
  background: rgb(250, 243, 243);
  border: 1px solid var(--color-accent, #e67e22);
  padding: 12px 18px;
  font-size: 1rem;
  
  cursor: pointer;
  color: var(--color-primary, #2c3e50);
  transition: background 0.3s, color 0.3s, transform 0.2s;
}

.tabButton:hover {
  /* background: #e5e7eb; */
  color: #2c3e50;
  transform: translateY(-1px);
  background:  #e67e22;
  color: white;
  border: 1px solid  #e67e22;
}

.active {
  background:  #e67e22;
  color: white;
}

.tabContent {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.tabPane {
  animation: fadeIn 0.3s ease-in-out;
  text-align: center;
    font-size: 1.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.list li {
  margin-bottom: 0.5rem;
  
}
