.nav {
  position: relative;
}

.navList {
  width: 100%;
  position: fixed;
  padding: 20px 150px;
  display: flex;
  opacity: 0.9;
  background-color: aqua;
  list-style: none;
}
.navLink {
  padding: 10px 5px;
  outline: 1px solid rgb(157, 255, 255);
  border-radius: 5px;
}
.navLink:hover,
.navLink:active {
  background-color: rgb(157, 255, 255);
}

.navItem:not(:last-child) {
  margin-right: 40px;
}

.main {
  padding: 90px 20px;
}
